{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Sign In" %}
{% endblock %}


<link rel="stylesheet" href="{% static '/css/base.css' %}">



{% block nav %}
  <nav>
    <div class="nav-top">
        <ul class="nav-items-right">
            <li>Contact us</li>
            <li>pt-br</li>
        </ul>
    </div>
    <div class="nav">
        <!-- NAV TOP - LOGO -->
        <a href="{% url 'home' %}" class="logo">Python <span class="logo2">BLOG</span></a>
        <ul class="nav-items">
            <li class="items"><a class="link" href="{% url 'post' %}">Blog</a></li>
            <li class="items"><a class="link" href="">Projects</a></li>
            <li class="items"><a class="link" href="">About</a></li>
        </ul>

        <div class="nav-right">
          <div class="buttons">
            <a class="button-55" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
          </div>
        </div>
    </div>
  </nav>
{% endblock %}


{% block content %}
<div class="container-form">
  <div class="card-form">
    <h3 class="">Sign in to our platform</h3>
    <form class="" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="btn-success" type="submit">{% trans "Sign In" %}</button>       
    </form>
  </div>
</div>          

{% endblock %}

