{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
  {% trans "Sign In" %}
{% endblock %}


{% block tailwind %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/4d83d4ce88.js" crossorigin="anonymous"></script>
{% endblock %}



{% block nav %}
<div class="flex flex-col space-y-10 group w-16 hover:w-32">
  <div class="transition ease-in-out flex gap-2 hover:-translate-y-1 hover:scale-110">
    <a href="{% url 'account_signup' %}"><i class="fa-solid fa-user-plus"></i></a>
    <a href="{% url 'account_signup' %}" class="invisible group-hover:visible">{% trans 'SignUp' %}</a>
  </div>
</div>
{% endblock %}


{% block content %}
  <div class="flex"> 
    <form class="" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="btn-success" type="submit">{% trans "Sign In" %}</button>       
    </form>
  </div>         
{% endblock %}

