{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block tailwind %}
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/4d83d4ce88.js" crossorigin="anonymous"></script>
{% endblock %}

{% block head_title %}
  {% trans "Signup" %}
{% endblock %}

{% block nav %}
<div class="flex flex-col space-y-10 group w-16 hover:w-32">
  <div class="transition ease-in-out flex gap-2 hover:-translate-y-1 hover:scale-110">
    <a href="{% url 'account_login' %}"><i class="fa-solid fa-circle-user"></i></a>
    <a href="{% url 'account_login' %}" class="invisible group-hover:visible">{% trans 'LogIn' %}</a>
  </div>
</div>
{% endblock %}



{% block content %}
    <div class="container-form">
      <div class="card-form">
        <h3 class="">Sign in to our platform</h3>
          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <a class="" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="btn-success" type="submit">{% trans "Sign Up" %}</button>       
          </form>
        </div>
      </div>
    </div>
{% endblock %}
