{% extends 'base.html' %}
{% load static %}

{% block title %}
Contact
{% endblock %}


{% block content %}
<div class="bg-neutral-900 container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
      <div class="mx-auto max-w-[700px] md:px-3">
        <h2 class="mb-12 text-3xl font-bold">Contact us</h2>
          <div class="relative mb-6" data-te-input-wrapper-init>
           <p>Vitor Kayron e Guilherme</p>
          </div>
          <div class="relative mb-6" data-te-input-wrapper-init>
            <p>EMAIL dos dois</p>
          </div>
          <div class="relative mb-6" data-te-input-wrapper-init>
            <p>Github</p>
            <a href="http://" target="_blank">github 1</a>
            <a href="http://" target="_blank">github 2</a>
          </div>
      </div>
    </section>
  </div>
{% endblock %}