{% extends 'base.html' %}
{% load static %}

{% block title %}
Formulário
{% endblock %}

{% block content %}

<h1>Vamos ver se funciona</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <label for="id_title">Title:</label>
    <input type="text" id="id_title" name="title" required><br><br>
    
    <label for="id_author">Author:</label>
    <select id="id_author" name="author" required>
    <option value="">Select an author</option>
    {% for author in authors %}
        <option value="{{ author.id }}">{{ author.username }}</option>
    {% endfor %}
    </select><br><br>
    
    <label for="id_content">Content:</label>
    <textarea id="id_content" name="content" required></textarea><br><br>
    
    <label for="id_images">Images:</label>
    <input type="file" id="id_images" name="images"><br><br>
    
    <input type="submit" value="Submit">
  </form>

{% endblock %}