{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block tailwind %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/4d83d4ce88.js" crossorigin="anonymous"></script>
{% endblock %}

<!--
<style>
  @import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
</style>
-->


{% block title %}
Py-Blog
{% endblock %}

{% block nav %}
  <div class="flex flex-col space-y-10 group w-16 hover:w-32">
      {% if user.is_authenticated %}
      <div class="transition ease-in-out flex gap-2 hover:-translate-y-1 hover:scale-110">
        <a href="{% url 'post' %}"><i class="fa-solid fa-pen-to-square"></i></a>
        <a href="{% url 'post' %}" class="invisible group-hover:visible">Post</a>
      </div >

      <div class="transition ease-in-out flex gap-2 hover:-translate-y-1 hover:scale-110">
        <a href="{% url 'account_email' %}"> <i class="fa-solid fa-envelope"></i></a>
        <a href="{% url 'account_email' %}" class="invisible group-hover:visible">Email</a>
      </div>
          
      <div class="transition ease-in-out flex gap-2 hover:-translate-y-1 hover:scale-110">
        <a href="{% url 'account_logout' %}"><i class="fa-solid fa-user"></i></a>
        <a href="{% url 'account_logout' %}" class="invisible group-hover:visible">{% trans 'LogOut' %}</a>
      </div>

      {% else %}

      <div class="transition ease-in-out flex gap-2 hover:-translate-y-1 hover:scale-110">
        <a href="{% url 'account_signup' %}"><i class="fa-solid fa-user-plus"></i></a>
        <a href="{% url 'account_signup' %}" class="invisible group-hover:visible">{% trans 'SignUp' %}</a>
      </div>

      <div class="transition ease-in-out flex gap-2 hover:-translate-y-1 hover:scale-110">
        <a href="{% url 'account_login' %}"><i class="fa-solid fa-circle-user"></i></a>
        <a href="{% url 'account_login' %}" class="invisible group-hover:visible">{% trans 'LogIn' %}</a>
      </div>
      {% endif %}
  </div>
{% endblock %}



{% block content %}
          {% for post in posts %}
          <div class="flex">
              <a href="" class="flex flex-col mt-3">
                  <h2 class="font-bold text-2xl hover:underline">{{ post.title }}</h2>
                  <p class="hover:underline mt-4">{{ post.content }}</p>
              </a>
          </div>

          <div class="flex items-start justify-between mt-4">
              <div class="flex items-center">
                  <a href="">
                      <img src="/img/profile.png" alt="" class="object-cover w-6 h-6 mx-4 rounded-full">
                      <a class="mr-6">{{ post.author }}</a>
                      <small>{{ post.created }}</small>
                  </a>
              </div>
              <a href="" class="hover:underline hover:text-violet-950">Read more</a>
          </div>
          {% endfor %}

          <!--
          {% if post.images %}
          <img src="{{ post.images.url }}" alt="Post Image">
          {% endif %}
          -->
          
{% endblock %}

