

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block 'content' %}
    {% endblock %}
</body>{% load static %}

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block 'title' %}

        {% endblock%}
    </title>
    {% block 'head' %}
    
    {% endblock%}
  </head>
  <body>
    {% block 'body' %}
    
    {% endblock%}

</html>
</html>